*{
    margin: 0;
    padding: 0;
}

:root{
  --font-type-one:"Inter", sans-serif;

  --font-size-smallest: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;

  --large-font-size: 18px;
  --largeest-font-size:42px;

  --text-color-dark: #000;
  --text-grey-color: #363636;

  --primary-color: #0094db;
  --primary-light-color: #80c9ed;
}

html{
    scroll-behavior: smooth;
}

a, p, span, div, section, ul, li, ol{
    margin: 0;
    padding: 0;
}

.section_pd_tb{
    padding: 70px 0;
}

.section_header{
    text-align: center;
    margin-bottom: 50px;
}
.section_header h2{
    font-family: var(--font-type-one);
    color: #2F2F2F;
    font-size: 38px;
    font-weight: 700;
}
.section_header span{
    color: var(--primary-color);
    font-weight: 700;
}
.section_header h3{
    font-family: var(--font-type-one);
    color: #2F2F2F;
    font-size: 32px;
    font-weight: 500;
}
.padding_added_row{
    padding: 0 120px;
}
@media screen and (max-width: 1200px){
    .padding_added_row{
        padding: 0 0;
    }
}
@media screen and (max-width: 768px){
    :root{
        --font-size-smallest: 12px;
        --font-size-small: 13px;
        --font-size-medium: 14px;

        --largeest-font-size: 24px;
      }
    .section_header h2{
        font-size: 24px;
    }
    .section_header h3{
        font-size: 20px;
    }
    .section_pd_tb{
        padding: 50px 0;
    }
    .section_header{
        margin-bottom: 40px;
    }
}


/* ====================== topbar css starts ========================= */
.topbar{
    padding: 10px 0;
    border-bottom: 2px solid #ECECEC;
}
.topbar_left{
    display: flex;
}
.topbar_left .phone_icon{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.topbar_left .phone_icon img, .topbar_left .mail_icon img{
    height: 24px;
}
.topbar_left .topbar_phone{
    display: flex;
    margin-right: 80px;
    height: fit-content;
}
.topbar_left .phone_text p{
   font-family: var(--font-type-one);
   font-size: var(--font-size-smallest);
   text-align: center;
   margin-bottom: -6px!important;
}
.topbar_left .phone_text a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    font-weight: 600;
    color: var(--text-color-dark);
    text-decoration: none;
 }
.topbar_left .topbar_mail{
    display: flex;
    align-items: center;
}
.topbar_left .mail_text a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    font-weight: 600;
    color: var(--text-color-dark);
    text-decoration: none;
}
.topbar_left a:hover{
   color: var(--text-grey-color);
}

.topbar_right_main{
    display: flex;
    justify-content: flex-end;
}
.topbar_right{
    display: flex;
    align-items: center;
}
.topbar_right p{
    margin-right: 12px;
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--text-color-dark);
    font-weight: 600;
}
.topbar_right .social_icons img{
   height: 24px;
   margin-left:6px;
}
.topbar_right .social_icons img:hover{
    opacity: 0.8;
 }
.topbar_right .social_icons img.linkedin_icon{
    height: 22px;
 }

@media screen and (max-width: 768px){
  .topbar_left .topbar_mail{
    display: none;
  }
  .topbar_left .topbar_phone {
    margin-right: 0px;
  }
}
@media screen and (max-width: 420px){
    .topbar_row{
        display: flex;
        align-items: center;
    }
    .topbar_right{
      display: block;
    }
    .topbar_right .social_icons img:nth-child(1){
        height: 20px;
        margin-left:0px;
     }
     .topbar_right .social_icons img.linkedin_icon{
        height: 18px;
     }
  }
/* ====================== topbar css ends ========================= */


/* ====================== Header css starts ========================= */
.header_section{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: relative;
    z-index: 100!important;
}
.navbar_custom .header_logo img{
   height: 85px;
   width: 100%;
   object-fit: cover;
}
.navbar_ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar_ul li a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-color-dark)!important;
    font-weight: 500!important;
}
.navbar_ul li a:hover{
    color: var(--text-grey-color)!important;
}
.navbar_ul li a.active{
    color: var(--primary-color)!important;
}
.navbar_ul li ul li a{
    padding: 10px;
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    font-weight: 400!important;
    color: var(--text-grey-color)!important;
}
.navbar_ul li ul{
    padding: 0;
    margin: 0;
}
.navbar_ul li ul li hr{
    padding: 0;
    margin: 0;
}
.header_buttons{
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header_buttons .button{
   width: 120px;
   background: var(--primary-color);
   color: #fff;
   padding: 4px;
   text-align: center;
   border-radius: 2px;
}
.header_buttons .button a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: #fff;
    text-decoration: none;
}
.header_buttons .button:first-child{
    margin-bottom: 5px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .1rem;
}
.header_buttons .button:hover{
    opacity: 0.8;
}
@media screen and (max-width: 1200px){
    .navbar_ul li a{
        font-size: var(--font-size-smallest);
    }
}
@media screen and (max-width: 992px){
    .navbar_ul li a{
        font-size: var(--font-size-medium);
    }
    .header_buttons{
        align-items: flex-start;
        padding-bottom: 25px;
    }
}

/* ====================== Header css ends ========================= */


/* ====================== Hero css starts ========================= */
.hero_section{
    position: relative;
}
.job_search_hero_main{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 2;
}
.hero_content{
    width: 1000px;
    display: flex;
    justify-content: center;
}
.hero_content .hero_header h2{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 3px 25px #000;
}
.hero_content .hero_header h3{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-shadow: 3px 3px 25px #000;
    margin-top: -12px;
}
.hero_job_search{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.input_item{
    display: flex;
    background: #fff;
    width: fit-content;
    align-items: center;
}
.input_item .icon{
    padding: 10px;
}
.input_item img{
    height: 24px;
}
.input_item .inp_itm{
    height: 40px;
    width: 140px;
    border: none;
    margin-right: 10px;
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
}
.input_item .inp_itm::placeholder{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
}
.input_item select{
    color: #666;
}
.input_item .inp_itm:focus{
    border: none;
    outline: none;
}
.find_jobs_button a{
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
}
.advanced_search{
    display: none;
}
.job_search_hero_main_text{
    display: none;
}
.find_job_btn_item{
    background: transparent;
}
@media screen and (max-width: 1200px){
    .hero_content{
        width: 780px;
    }
}
@media screen and (max-width: 992px){
    .hero_content{
        width: 100vw;
    }
}
@media screen and (max-width: 768px){
    .find_jobs_button a{
        background: transparent;
        border: 2px solid var(--primary-light-color);
        border-radius: 2px;
    }
    .job_search_hero_main_text{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .job_search_hero_main .hero_header{
        display: none;
    }
    .hero_job_search .item_small_hide{
        display: none;
    }
    .hero_content .hero_header h2{
        font-size: 32px;
    }
    .hero_content .hero_header h3{
        font-size: 24px;
    }
    .job_search_hero_main{
        display: flex;
        justify-content: center;
        position: relative;
        top: 47px;
        background: var(--primary-color);
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 576px){
    .job_search_hero_main_text{
        display: flex;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 2;
    }
    .hero_content .hero_header h2{
        font-size: 28px;
    }
    .hero_content .hero_header h3{
        font-size: 20px;
    }
}
/* ====================== Hero css ends ========================= */


/* ====================== Services css starts ========================= */
.service_item{
   margin-bottom: 25px;
}
.service_item_wrap{
    max-height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.service_title{
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.service_title h5{
    height: 42px;
    line-height: 18px;
}
.service_title h5 a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000;
}
.service_item img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transform: scale(1.1);
   transition: all 0.2s ease-in-out;
}
.service_item:hover img{
    transform: scale(1.2);
}
@media screen and (max-width: 1200px){
    .services_row{
        padding: 0 0;
    }
}
@media screen and (max-width: 768px){
    .service_title h5{
        line-height: 12px!important;
    }
}
/* ====================== Services css ends ========================= */


/* ====================== Counter css starts ========================= */
.counter_section{
    background-color: var(--primary-color);
    padding: 40px 0;
}
.counter_item{
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.counter_item:last-child{
    border-right: 0px solid rgba(255, 255, 255, 0.3);
}
.counter_wrap h2{
    font-family: var(--font-type-one);
    font-size: var(--largeest-font-size);
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.counter_wrap p{
    font-family: var(--font-type-one);
    font-size: var(--large-font-size);
    color: #fff;
    text-align: center;
}
.counter_icon{
    display: flex;
    justify-content: center;
}
.counter_icon img{
    height: 70px;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px){
    .counter_item{
        border-right: 0px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 40px;
    }
    .counter_item:last-child{
        border-right: 0px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 0px;
    }
}
/* ====================== Counter css ends ========================= */


/* ====================== Discover css starts ========================= */
.discover_section{
   background: #ECECEC;
}
.discover_section_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    column-gap: 25px;
}
.discover_section_buttons .button_2{
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    height: 44px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .discover_section_buttons .button_2:hover{
    opacity: 0.8;
 }
 .discover_section_buttons .button_2 a{
     font-family: var(--font-type-one);
     font-size: var(--font-size-medium);
     font-weight: 600;
     color: #fff;
     text-decoration: none;
 }
/* ====================== Discover css ends ========================= */


/* ====================== Core values css starts ========================= */
.core_vlaues_row{
    display: grid;
    grid-template-columns: auto auto;
}
.core_value_header .section_header{
    padding-right: 40px;
    border-right: 1px solid #000;
}
.core_value_header .section_header h2, .core_value_header .section_header h3{
    text-align: left;
}
.core_item_wrapper{
    background: #f6f6f6;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 4px;
    overflow: hidden;
}
.core_value_head_text p{ 
   padding-left: 20px;
   font-family: var(--font-type-one);
   font-size: var(--font-size-medium);
   font-weight: 500;
}
.core_items_row{
    display: flex;
    row-gap: 25px;
}
.core_content{
    padding: 20px;
    display: flex;
    align-items: center;
}
.core_image{
    max-height: 220px;
}
.core_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.core_content_wrap h5{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--text-color-dark);
}
.core_content_wrap p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--text-grey-color);
}

@media screen and (max-width: 992px){
    .core_vlaues_row{
        grid-template-columns: auto;
    }
    .core_value_header .section_header{
        padding-right: 0px;
        margin-bottom: 0px;
        border-right: 0px solid #000;
    }
    .core_value_header .section_header h2, .core_value_header .section_header h3{
        text-align: center;
    }
    .core_value_head_text p{ 
       padding-left: 0px;
       margin-bottom: 40px;
       text-align: center;
    }  
}

@media screen and (max-width: 992px){
    .core_item_wrapper{
        background: #f6f6f6;
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 4px;
        overflow: hidden;
    }  
}
/* ====================== Core values css ends ========================= */


/* ====================== Accredation Licence css starts ========================= */
.accredation_row{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.accr_image{
    display: flex;
    justify-content: center;
}
.accr_image img{
    height: 100px;
}
@media screen and (max-width: 992px){
    .accr_image img{
        height: 75px;
    }
}
@media screen and (max-width: 768px){
    .accredation_row{
        grid-template-columns: auto auto;
        row-gap: 25px;
    }
    .accredation_row .accredation_item:nth-child(3) .accr_image{
        margin-right: 60px;
    }
}
/* ====================== Accredation Licence css ends ========================= */


/* =================  Tab section how we are starts  ================================= */
.tab_section_home{
    background: var(--primary-color);
}
.tab_section_header h5{
   text-align: left;
   color: #fff;
   font-family: var(--font-type-one);
   font-size: var(--large-font-size);
}
.tab_section_header h2{
    text-align: left;
    color: #fff;
}

.tabs {
    width: 100%;
}
.tab-menu {
    display: flex;
    /* border-bottom: 2px solid #ccc; */
    cursor: pointer;
}
.tab {
    padding: 10px;
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid #FFF;
    color: #fff;
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    font-weight: 600;
}
.tab.active {
    background-image: url('assets/icons/active.png'); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: var(--text-color-dark);
    border-bottom: 0px solid #FFF;
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    font-weight: 600;
}
.tab-content {
    display: none;
    padding: 20px 0 0 0;
}
.tab-content.active {
    display: block;
}
.tab_content_wrap{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 40px;
}
.tab_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tab_text_content{
    padding-top: 25px;
}
.tab_text_content p{
    color: #fff;
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
}
.check_list{
    margin-top: 20px;
}
.check_list .list{
    display: flex;
    margin-top: 18px;
}
.check_list .list p{
    font-size: var(--font-size-small);
}
.check_list img{
    margin-top: 5px;
    height: 14px;
    margin-right: 5px;
}
@media screen and (max-width: 768px){
    .tab_content_wrap{
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 576px){
    .tab {
        margin-right: 20px;
    }
}
/* =================  Tab section how we are ends  ================================= */


/* =================  Recruitment Process section starts  ======================= */
.recruitment_section{
background: #ECECEC;
}
.recruitment_row{
    background: #fff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 40px 25px;
}
.recruitment_row_top{
    position: relative;
    z-index: 1;
}
.process_line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #f6f6f6;
    width: 60%;
    z-index: -1;
}
.wrap_process{
    display: flex;
    justify-content: center;
}
.icondiv{
    background: #f6f6f6;
    width: fit-content;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}
.icondiv img{
    height: 50px;
}
.process_number{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: #fff;
    font-weight: 500;
    font-family: var(--font-type-one);
    font-size: var(--font-size-smallest);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #000;
}

.recruitment_item{
    display: flex;
    justify-content: center;
    padding: 18px;
}
.recruitment_item h5, .recruitment_item p{
    text-align: center;
}
.recruitment_item h5{
    font-family: var(--font-type-one);
    font-size: var(--large-font-size);
    color: var(--text-grey-color);
    font-weight: 600;
}
.recruitment_item p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-grey-color);
}

@media screen and (max-width: 1400px){
    .padding_null_1400 {
        padding: 0;
    }
}
@media screen and (max-width: 992px){
    .recruitment_row{
        display: grid;
        grid-template-columns: 120px auto;
    }
    .process_line{
        display: none;
    }
    .recruitment_row_top{
        gap: 50px;
    }
    .recruitment_content_row{
        gap: 40px;
    }
    .recruitment_item h5, .recruitment_item p{
        text-align: left;
    }
}
@media screen and (max-width: 576px){
    .wrap_process{
        margin-left: -20px;
    }
    .recruitment_row{
        padding: 40px 10px;
    }
    .recruitment_row_top{
        gap: 40px;
    }
    .recruitment_content_row{
        gap: 20px;
    }
    .recruitment_item{
        padding-top: 0;
    } 
}
/* =================  Recruitment Process section ends  ======================= */


/* =================  Testimonial section starts  ======================= */
.testimonial_item{
   background: #F6F6F6;
   padding: 25px 25px 40px 35px;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 12% 90%, 0 100%);
}
.testimonial_lines_left{
   position: absolute;
   left: 15px;
   top: 30px;
   display: flex;
}
.testimonial_lines_left .line1{
    height: 60px;
    width: 2px;
    background: var(--primary-color);
    opacity: 0.3;
    margin-right: 2px;
}
.testimonial_lines_left .line2{
    height: 30px;
    width: 2px;
    background: var(--primary-color);
    opacity: 0.3;
}
.testimonial_item p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--text-grey-color);
    font-style: italic;
    font-weight: 500;
}
.testimonial_item h6{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-dark-color);
    font-style: italic;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.testimonial_icon{
    height: 60px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}
.testimonial_icon img{
    height: 60px;
}
.testimonial_item .stars{
    margin-left: -20px;
    padding-bottom: 10px;
}
.testimonial_item .stars img{
    height: 30px;
    width: auto;
}
/* =================  Testimonial section ends  ======================= */


/* =================  find jobs state section starts  =================================  */
.job_state_item{
    margin-bottom: 25px;
}
.job_state_item_wrap{
    /* max-height: 200px; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.job_state_title{
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.job_state_title h5{
    font-family: var(--font-type-one);
    font-size: var(--large-font-size);
}
.job_state_title a{
    color: #fff;
    text-decoration: none;
    text-shadow: 3px 3px 15px #000;
}
.job_state_title p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    margin-top: -10px;
}
.job_state_item_wrap img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
 .job_state_item_wrap:hover img{
     transform: scale(1.1);
 }
.jobs_by_region_button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.jobs_by_region_button a{
    background: var(--primary-color);
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: #fff;
    text-decoration: none;
    padding: 14px 150px;
}
.jobs_by_region_button a:hover{
    opacity: 0.8;
}
@media screen and (max-width: 768px){
    .jobs_by_region_button a{
        padding: 10px 50px;
    }
    .job_state_title h5{
        font-size: var(--font-size-small);
    }
    .job_state_title p{
        font-size: var(--font-size-smallest);
    }
    .jobs_by_region_button{
        margin-top: 5px;
    }
}
/* =================  find jobs state section ends  =================================  */


/* =================  footer top section starts  =================================  */
.footer_top_row{
    background: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 50px;
}
.footer_top_section .section_header{
    margin-bottom: 0;
}
.footer_top_section .section_header h3{
    text-align: left;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}
.footer_top_buttom_main{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.footer_top_button a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: #fff;
    text-decoration: none;
    border: 2px solid var(--primary-light-color);
    padding: 10px 16px;
    border-radius: 2px;
}
.footer_top_button a:hover{
    color: #ddd;
}
@media screen and (max-width: 992px){
    .footer_top_row{
        padding: 40px 10px;
    }
    .footer_top_section .section_header h3{
        text-align: center;
    }
    .footer_top_buttom_main{
        justify-content: center;
    }
}
/* =================  footer top section ends  =================================  */


/* =================  footer section starts  =================================  */
.footer_section{
    background: #121922;
}
.footer_map{
    padding: 30px 60px 0 0;
}
.footer_map img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.footer_item h5{
    font-family: var(--font-type-one);
    font-size: 24px;
    color: #fff;
}
.footer_item .contact_links{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.footer_item .contact_links a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: #f6f6f6;
    font-weight: 300;
    text-decoration: none;
    margin-top: 10px;
}
.footer_item .contact_links a:hover{
    color: #ccc;
}
.quick_links_main{
    background: #19222e;
    padding: 40px;
    /* height: fit-content; */
    margin-top: -40px;
}
.footer_item .quick_links{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.footer_item .quick_links a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: #f6f6f6;
    font-weight: 300;
    text-decoration: none;
    margin-top: 10px;
}
.footer_item .quick_links a:hover{
   color: #ccc;
}
@media screen and (max-width: 992px){
    .quick_links_main{
        margin-top: 40px;
    }
}
@media screen and (max-width: 768px){
    .footer_map{
        padding: 40px 40px 40px 0px;
    }
    .footer_map img{
       height: 100%;
       width: 100%;
       object-fit: cover;
    }
    .quick_links_main{
        background: transparent;
        padding: 10px;
        margin-top: 40px;
    }
    .footer_item .quick_links{
        margin-top: 5px;
    }
    .footer_item .contact_links{
        margin-top: 5px;
    }
    .footer_item h5{
        text-align: center;
    }
    .footer_item_mian{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
/* =================  footer section ends  =================================  */


/* =================  footer bottom section starts  =================================  */
.footer_bottom_section{
   padding: 20px 0;
}
.footer_bottom_section .topbar_left span{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--text-color-dark);
    font-weight: 600;
}
.footer_bottom_section .topbar_left{
    display: flex;
    flex-direction: column;
}
.footer_bottom_section .topbar_left a{
    text-decoration: none;
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--primary-color);
}
.footer_bottom_section .topbar_left a:hover{
    opacity: 0.8;
}
@media screen and (max-width: 768px){
    .footer_bottom_section .topbar_left span{
        text-align: center;
    }
    .footer_bottom_section .topbar_right_main{
        display: flex;
        justify-content: center;
    }
    .footer_bottom_section .topbar_right_main .topbar_right{
        display: flex;
    }
}
/* =================  footer bottom section ends  =================================  */

.breadcrumb_section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* =================  About Page css starts  ================================= 
==================================================================================== */
.about_items{
    margin-top: 20px;
}
.about_item1{
    display: flex;
    align-items: center;
}
.about_intro p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-color-dark);
    line-height: 20px;
}
.about_item1 p{
    padding-right: 40px;
}

.our_story_section{
    position: relative;
    margin-bottom: 60px;
}
.story_wrap{
    background: #F6F6F6;
    width: calc(100% - 380px);
    padding-right: 180px;
}
.story_left{
    padding-left: 22vw;
}
.story_left p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-color-dark);
}
.story_image{
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 2;
    bottom: -80px;
    display: flex;
    align-items: center;
}
.story_image img{
    max-height: 380px;
}
.story_left p{
    margin-top: 25px;
}
.accredation_row2{
   margin-top: 40px;
}
.accredation_row2 .accredation_item{
    display: flex;
    justify-content: flex-start;
}
.accredation_row2 .accredation_item img{ 
    max-height: 90px;
}

@media screen and (max-width: 1600px){
.story_left{
    padding-left: 16vw;
}
}
@media screen and (max-width: 1420px){
    .story_left{
        padding-left: 12vw;
    }
}
@media screen and (max-width: 1400px){
    .story_left{
        padding-left: 18vw;
    }
}
@media screen and (max-width: 1300px){
    .story_left{
        padding-left: 16vw;
    }
}
@media screen and (max-width: 1200px){
    .story_left{
        padding-left: 140px;
        padding-right: 140px;
    }
    .story_wrap{
        width: 100%;
        padding-right: 0px;
    }
    .story_image{
        height: 100%;
        position: relative;
        bottom: 0px;
        display: flex;
        align-items: center;
    }
    .story_image img{
        max-width: 100%;
        max-height: 100%;
    }
}
@media screen and (max-width: 992px){
    .story_left{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width: 576px){
    .story_left{
        padding-left: 10px;
        padding-right: 10px;
    }
    .our_story_section{
        margin-bottom: 40px;
    }
}


.contact_us_section{
    background-color: #F6F6F6;
}
.contact_text_main{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-grey-color);
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper_contact_left{
    padding-right: 40px;
}
.contact_item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eee;
}
.contact_item .icon{
   width: 50px;
   height: 50px;
   background: var(--primary-color);
   padding: 12px;
   border-radius: 4px;
   margin-right: 12px;
}
.contact_item .icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
 }
.contact_item p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-dark-color);
    font-weight: 600;
}
.contact_item a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-small);
    color: var(--text-grey-color);
    text-decoration: none;
}
.contact_item a:hover{
    color: var(--primary-color);
}
.contact_list{
    margin-top: 30px;
}

.contact_form_right{
  background: #fff;
  padding: 25px;
  height: fit-content;
}
.contact_form_right button{
    width: 100%;
    padding: 10px 0;
    background: var(--primary-color);
}
.contact_form_right button:hover{
    background: var(--primary-light-color);
}
.contact_form_right input{
    padding: 15px;
}
@media screen and (max-width: 576px){
    .wrapper_contact_left{
        padding-right: 0px;
    }
}
/* =================  About Page css ends  ================================= 
==================================================================================== */


/* =================  Work holiday Page css starts  ================================= 
==================================================================================== */
.work_holiday_text p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-dark-color);
    line-height: 20px;
}
.small_cta_row{
    background: var(--primary-color);
    padding: 15px;
    border-radius: 6px;
}
.small_cta_row .text_left{
    display: flex;
    align-items: center;
}
.small_cta_row p{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color:#fff;
}
.small_cta_row .call_button{
    display: flex;
    justify-content: flex-end;
}
.small_cta_row .call_button a{
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 25px;
}
.small_cta_row .call_button a:hover{
    color:#ddd;
    border: 1px solid #ddd;
}
@media screen and (max-width: 992px){
    .intro_2{
        display: flex;
        flex-direction: column-reverse;
    }
    .intro_2 .image{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px){
    .small_cta_row p{
        text-align: center;
    }
    .small_cta_row .call_button{
        margin-top: 10px;
        justify-content: center;
    }
    .small_cta_row{
        margin: 0 5px;
    }
}
/* =================  Work holiday Page ends starts  ================================= 
==================================================================================== */


/* =================  Client Services Page css starts  ================================= 
==================================================================================== */
.nationwide_section{
    background: #b8e1f5;
}
.nationwide_row{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.nationwide_row .section_header{
    padding-right: 120px;
    border-right: 1px solid #666;
}
.nationwide_row .section_header h3{
    text-align: left;
    font-weight: 700;
    font-size: 24px;
}
.nationwide_row .section_header h2{
    text-align: left;
}
.nationwide_section .header_text p{
    padding-left: 80px;
    font-family: var(--font-type-one);
    font-size: var(--font-size-medium);
    color: var(--text-dark-color);
}




